/* Estilos provisionales para maquetado */
header {
    background-color: aqua;
}

.nav-container {
    background-color: darkslategray;
}

a {
    color: black;
}

main {
    background-color: aliceblue;
}

article {
    background-color: aquamarine;
}

section {
    background-color: darkcyan;
}

aside {
    background-color: blanchedalmond;
}

footer {
    background-color: coral;
}

html {
    scroll-padding-top: 90px; /* Ajusta este valor según la altura exacta de tu header */
}
